@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    /* Neurtal */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Light-Gray);
}

main {
    display: grid;;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
        "header"
        "cards"
    ;    
    width: 85%;
    max-width: 460px;
}

header {
    grid-area: header;
    text-align: center;
    padding-top: 2rem;
}

header h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

header h2 {
    font-size: 1.6rem;
    font-weight: 200;
}

header p {
    font-weight: 200;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    color: var(--Grayish-Blue);
}

.cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 23% 23% 23% 23%;
    grid-template-areas: 
        "card-a"
        "card-b"
        "card-c"
        "card-d"
    ;
    row-gap: 15px;
}

.card {    
    padding: 1.4rem;
    background-color: White;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(163, 155, 155, 0.3);
}

.card img {
    width: 64px;
    height: 64px;
    align-self: flex-end;
    margin: 1.5rem 0 1.5rem 0;
}

.card h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

.card p {
    font-size: 1rem;
    font-weight: 200;
    color: var(--Grayish-Blue);
}

.card-a {
    grid-area: card-a;
    border-top: 3px solid var(--Cyan);
}

.card-b {
    grid-area: card-b;
    border-top: 3px solid var(--Red);
}

.card-c {
    grid-area: card-c;
    border-top: 3px solid var(--Orange);
}

.card-d {
    grid-area: card-d;
    border-top: 3px solid var(--Blue);
}

/* Galaxy Fold */
@media (min-width: 280px) and (max-width: 374px) {
    main {
        grid-template-rows: 25% 75%;
    }
}

@media (min-width: 1070px) {

    body {
        height: 100vh;
    }

    main {
        display: grid;;
        grid-template-columns: auto;
        grid-template-rows: 30% 64%;
        grid-template-areas: 
            "header"
            "cards"
        ;    
        width: 85%;
        max-width: 1020px;
        height: 90%;
    }


    header {
        grid-area: header;
        text-align: center;
        padding: 0 15rem 0 15rem;        
    }
    
    header h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--Very-Dark-Blue);
    }
    
    header h2 {
        font-size: 2.5rem;
        font-weight: 200;
    }
    
    header p {
        font-weight: 200;
        margin-top: 1rem;        
        color: var(--Grayish-Blue);
    }

    .cards {
        grid-area: cards;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 46% 50%;
        grid-template-areas: 
            "card-a card-b card-d"
            "card-a card-c card-d"
        ;
        justify-content: center;        
        column-gap: 30px;
    }

    .card {
        height: 220px;
    }

    .card-a {
        align-self: center;
    }

    .card-d {
        align-self: center;
    }

}